#Mongo DB
MONGODB_CONNECTION_STRING=*****
MONGODB_NAME=*****

# Database
DB_SERVER=*****
DB_PORT=*****
DB_NAME=*****
DB_USER_ID=*****
DB_PASSWORD=*****

# JWT
JWT_SECRET_KEY=*****
JWT_ISSUER=*****
JWT_AUDIENCE=*****
JWT_EXPIRY_MINUTES=*****

# Email
SMTP_SERVER=*****
SMTP_PORT=*****
SMTP_SENDER_EMAIL=*****
SMTP_SENDER_PASSWORD=*****

# Google Auth
GOOGLE_CLIENT_ID=*****
GOOGLE_CLIENT_SECRET=*****

# Facebook Auth
FACEBOOK_APP_ID=*****
FACEBOOK_APP_SECRET=*****

# Frontend
FRONTEND=*****

#App
APP_BASE_URL=*****

#Git
GIT_TOKEN=*****
GIT_USERNAME=*****
GIT_REPO=*****
