# Mongo DB
MONGODB_CONNECTION_STRING=*****
MONGODB_NAME=bi_ur_site

#Redus
REBUS_QUEUE_NAME=*****

# JWT
JWT_SECRET_KEY=*****
JWT_ISSUER=BiUrSiteApp
JWT_AUDIENCE=BiUrSiteApp
JWT_EXPIRY_MINUTES=180

# Email
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_SENDER_EMAIL=*****
SMTP_SENDER_PASSWORD=*****

# Google Auth
GOOGLE_CLIENT_ID=*****
GOOGLE_CLIENT_SECRET=*****

# Facebook Auth
FACEBOOK_APP_ID=*****
FACEBOOK_APP_SECRET=*****

# Frontend
FRONTEND=http://localhost:3000

# App
APP_BASE_URL=http://localhost:5000

API_BASE_URL=http://localhost:5000/


# Allowed CORS
ALLOWED_CORS=http://localhost:3000,https://yourfrontenddomain.com

# Git
GIT_TOKEN=*****
GIT_USERNAME=*****
GIT_REPO=images
GIT_BRANCH=main

# Redis (for rate limiting)
REDIS_CONNECTION_STRING=localhost:6379

# Rate limiting
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW_SECONDS=60
