<div class="post-modal">
    <div class="modal-header">
        <h2>Post Details</h2>
        <button (click)="closeModal()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-content">
        <div class="post">
            <div class="post-header">
                <img [src]="post.author.profile" alt="User Avatar" class="user-avatar">
                <div class="user-info">
                    <h3>{{post.author != null ? post.author.username : ''}}</h3>
                    <p>{{post.createdDate | timeAgo }}</p>
                </div>
                <div class="post-menu" [class.active]="isMenuOpen">
                    <button class="menu-button" (click)="toggleMenu($event)">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu">
                        <ul>
                            <li *ngIf="isOwner()" (click)="openEditPostModal($event)">Edit</li>
                            <li *ngIf="isOwner()" (click)="delete($event)">Delete</li>
                            <li *ngIf="!isOwner()" (click)="report($event)">Report</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-content">
                <p>{{post.description}}</p>
            </div>
        </div>

        <div class="comments-list">
            <div class="comment" *ngFor="let comment of post.comments">
                <p>{{ comment.description }}</p>
                <small>{{ comment.commenter.username }}</small>
                <!-- Add Edit and Delete buttons for comments -->
                <div class="comment-actions" *ngIf="isCommentOwner(comment)">
                    <button (click)="editComment(comment)">Edit</button>
                    <button (click)="deleteComment(comment)">Delete</button>
                </div>
            </div>
        </div>

        <div class="comment-input">
            <textarea [(ngModel)]="newComment" placeholder="Write a comment..."></textarea>
            <button (click)="postComment()">Post Comment</button>
        </div>

        <div *ngIf="isError" class="error-message">
            {{ errorMessage }}
        </div>
    </div>
</div>