<div class="login-container">
    <div class="intro">
        <h1>BiUrSite</h1>
        <p>Welcome to <strong>BiUrSite</strong>, a platform where you can share your ideas, feelings, and challenges. Connect with others who can cheer you up, offer advice, and rate each other's posts.</p>
    </div>
    <div class="login-form">
        <form (ngSubmit)="login()">
            <input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" required>
            <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
            <div class="error-message" *ngIf="isUnauthorized">
                {{ unauthorizedMessage }}
            </div>
            <button type="submit">Log In</button>
            <a href={{forgetPassword}}>Forgot password?</a>
            <hr>
            <a href="{{register}}">Create new account</a>
        </form>
        <app-oauth-login></app-oauth-login>
        <div class="gradient-card">
            <h2>Key Features</h2>
            <p>
                <strong>Anonymous:</strong> Register and post without revealing your identity.<br>
                <strong>Verified User:</strong> Post, comment, and report content.<br>
                <strong>Admin:</strong> Manage users, posts, and announcements.<br>
            </p>
        </div>
    </div>
</div>
