<div class="login-container">
    <div class="intro">
        <h1>BiUrSite</h1>
        <p>Welcome to <strong>BiUrSite</strong>, a platform where you can share your ideas, feelings, and challenges. Connect with others who can cheer you up, offer advice, and rate each other's posts.</p>
    </div>
    <div class="login-form">
        <form (ngSubmit)="resetPassword()">
            <h2>Reset Password</h2>
            <p>Please enter the OTP sent to your email and your new password.</p>
            <input type="text" placeholder="OTP" [(ngModel)]="resetData.otp" name="otp" required>
            <input type="password" placeholder="New Password" [(ngModel)]="resetData.newPassword" name="newPassword" required>
            <input type="password" placeholder="Confirm Password" [(ngModel)]="resetData.confirmPassword" name="confirmPassword" required>
            
            <div class="error-message" *ngIf="isPasswordMismatch">
                Passwords do not match. Please try again.
            </div>

            <div class="error-message" *ngIf="isError">
                {{ errorMessage }}
            </div>

            <button type="submit">Reset Password</button>
            <a href="{{login}}">Back to Login</a>
        </form>
    </div>
</div>